.isf-el_image {
  display: block;
  overflow: hidden;
  max-width: 60rem;
  margin: 0 auto;
}

.isf-width--half {
  display: inline-block;
  @media (min-width: 768px) {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

.isf-width--third {
  display: inline-block;
  @media (min-width: 768px) {
    width: 33.33%;
  }
  @media (min-width: 992px) {
    width: 33.33%;
  }
}
