.isf-el_cta {
   @include isf-padding-tb-md;
  display: flex;
  align-items: center;
  justify-content: center;

  a.cta {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .7647058824rem;
    line-height: 1;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    color: #fff;
    background: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    height: 48px;
    text-decoration: none;
    min-width: 200px;

    &:hover {
      color: black;
      background: white;
    }
  }
}
