<div class = "isf-layout_split-sticky js--split-sticky">

    <div class = "isf-layout_split-sticky__sticky js--split-sticky__sticky style--something">
        <div class = "isf-layout_split-sticky__sticky__item stack-item stack-item--1" style = "background-image: url('{{ stickyImage }}'); ">
        </div>
    </div>

    <div class = "isf-layout_split-sticky__content js--split-sticky__content js--content">
        <div class = "isf-layout_split-sticky__content--inner">
           <!-- content -->
        </div>
    </div> <!-- Content end -->
</div>