.isf-el_text {
    max-width: 40rem;
    margin: 0 auto;
}

.temp {
  background-color: #f9f9f9;
  padding: 15px;
  pre {
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}
