<div class = "isf-container isf-padding-tb-xl">
	<div class = "isf-el_preview__top">
	    <h3>{{ title }}</h3>
	    <p>{{ paragraph }}</p>
	    <p>See more on <a href = "#"> GitHub </a></p>
	</div>
</div>