<div class = "isf-layout_interactive-scroller__content__group group--0 is--active-always" data-city = "global">
    <img class = "hsto-swatch__campaign__logo" src = "https://static-ads.highsnobiety.com/2019-05-swatch/assets/swatch_x_bape.svg" />
</div>

<!-- content group -->
<div class = "isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group group--1 isf-f-white" data-city = "global">
    <div class = "js--interactive-scroller__content__group__inner watch__content">

        <div class = "watch__content__face">
            <div class = "watch__content__title">
                <h3>Global</h3>
            </div>
            <img class="hsto-swatch__watch__image" src="https://static-ads.highsnobiety.com/2019-05-swatch/assets/global.png">
            <a class="button stream__more-button" data-behavior="load-more" href="https://shop.swatch.com/en_us/prehome/?collections=big-bold&source=highsnobiety&content=advertorial&medium=display-a&campaign=special-bape" target="_blank">Discover more</a>
        </div>
        <div class = "watch__content__lookbook">
            <img class = "watch__content__image watch__content__image--1" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/global-wide.jpg" />
            <img class = "watch__content__image watch__content__image--2" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/global-close.jpg" />
        </div>
    </div>
</div>

<div class = "isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group group--2" data-city = "tokyo">
    <div class = "js--interactive-scroller__content__group__inner watch__content">
        
        <div class = "watch__content__face">
            <div class = "watch__content__title">
                <h3>Tokyo</h3>
            </div>
            <img class="hsto-swatch__watch__image" src="https://static-ads.highsnobiety.com/2019-05-swatch/assets/tokyo.png">
            <a class="button stream__more-button" data-behavior="load-more" href="https://shop.swatch.com/en_us/prehome/?collections=big-bold&source=highsnobiety&content=advertorial&medium=display-a&campaign=special-bape" target="_blank">Discover more</a>
        </div>
        <div class = "watch__content__lookbook">
            <img class = "watch__content__image watch__content__image--2" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/tokyo-close.jpg" />
            <img class = "watch__content__image watch__content__image--1" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/tokyo-wide.jpg" />
            
        </div>
    </div>
</div>

<div class = "isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group group--3" data-city = "nyc">
    <div class = "js--interactive-scroller__content__group__inner watch__content">
        
        <div class = "watch__content__face">
            <div class = "watch__content__title">
                <h3>New York</h3>
            </div>
            <img class="hsto-swatch__watch__image" src="https://static-ads.highsnobiety.com/2019-05-swatch/assets/newyork.png">
            <a class="button stream__more-button" data-behavior="load-more" href="https://shop.swatch.com/en_us/prehome/?collections=big-bold&source=highsnobiety&content=advertorial&medium=display-a&campaign=special-bape" target="_blank">Discover more</a>
        </div>
        <div class = "watch__content__lookbook">
            <img class = "watch__content__image watch__content__image--1" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/nyc-wide.jpg" />
            <img class = "watch__content__image watch__content__image--2" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/nyc-close.jpg" />
        </div>
    </div>
</div>

<!-- content group -->
<div class = "isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group group--4 isf-f-white" data-city = "paris">
    <div class = "js--interactive-scroller__content__group__inner watch__content">
        
        <div class = "watch__content__face">
            <div class = "watch__content__title">
                <h3>Paris</h3>
            </div>
            <img class="hsto-swatch__watch__image" src="https://static-ads.highsnobiety.com/2019-05-swatch/assets/paris.png">
            <a class="button stream__more-button" data-behavior="load-more" href="https://shop.swatch.com/en_us/prehome/?collections=big-bold&source=highsnobiety&content=advertorial&medium=display-a&campaign=special-bape" target="_blank">Discover more</a>
        </div>
        <div class = "watch__content__lookbook">
            <img class = "watch__content__image watch__content__image--2" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/paris-close.jpg" />
            <img class = "watch__content__image watch__content__image--1" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/paris-wide.jpg" />
            
        </div>
    </div>
</div>

<div class = "isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group group--5" data-city = "london">
    <div class = "js--interactive-scroller__content__group__inner watch__content">
        <div class = "watch__content__face">
            <div class = "watch__content__title">
                <h3>London</h3>
            </div>
            <img class="hsto-swatch__watch__image" src="https://static-ads.highsnobiety.com/2019-05-swatch/assets/london.png">
            <a class="button stream__more-button" data-behavior="load-more" href="https://shop.swatch.com/en_us/prehome/?collections=big-bold&source=highsnobiety&content=advertorial&medium=display-a&campaign=special-bape" target="_blank">Discover more</a>
        </div>
        <div class = "watch__content__lookbook">
            <img class = "watch__content__image watch__content__image--1" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/london-wide.jpg" />
            <img class = "watch__content__image watch__content__image--2" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/london-close.jpg" />
        </div>
    </div>
</div>

<div class = "isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group group--6" data-city = "switzerland">
    <div class = "js--interactive-scroller__content__group__inner watch__content">
        
        <div class = "watch__content__face">
            <div class = "watch__content__title">
                <h3>Switzerland</h3>
            </div>
            <img class="hsto-swatch__watch__image" src="https://static-ads.highsnobiety.com/2019-05-swatch/assets/bern.png">
            <a class="button stream__more-button" data-behavior="load-more" href="https://shop.swatch.com/en_us/prehome/?collections=big-bold&source=highsnobiety&content=advertorial&medium=display-a&campaign=special-bape" target="_blank">Discover more</a>
        </div>
        <div class = "watch__content__lookbook">
            <img class = "watch__content__image watch__content__image--1" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/bern-wide.jpg" />
            <img class = "watch__content__image watch__content__image--2" src = "https://interactive-development.hsnb.io/2019-06-swatch/assets/bern-close.jpg" />
        </div>
    </div>
</div>
