<div class = "isf-layout_chapter js--chapter style--{{ chapterStyle }}" id = "{{ id }}">

    <!-- Chapter: Style Ralph -->
    <div class = "isf-layout_chapter__header js--chapter__header">
        <div class = "isf-layout_chapter__img">
            <div class = "isf-layout_chapter__mask">
                <div class = "isf-layout_chapter__background-img__wrapper">
                    <div class="isf-layout_chapter__background-img" style="background-image: url('{{ chapterBackground }}')">
                    </div>
                </div>
            </div>
        </div>
        <div class = "isf-layout_chapter__title isf-f-white">
            <div class = "isf-container">
                <h1>{{ chapterTitle }}</h1>
            </div>
        </div>
    </div>

    <div class = "isf-layout_chapter__content js--chapter__content js--content">
        <div class = "isf-container-fluid">
            <!-- content -->
        </div>
    </div>
</div>
