
/* STYLE BLACK */

.style--black {
    background-color: black;
    .isf-layout_chapter__header {
        align-items: center;
        justify-content: center;
        height: 100vh;
        .isf-layout_chapter__title {
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .l-effect {
            justify-content: center;
        }

        .isf-layout_chapter__img {

            .isf-layout_chapter__mask {
                // rel to the chapter img element
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
                -webkit-transition: height 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),width 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
                transition: height 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),width 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
                position: absolute;
                left: 50vw;
                top: 50vh;
                height: 100vh;
                width: 100vw;
                overflow: hidden;

                .isf-layout_chapter__background-img{
                    -webkit-transform: scale(1.1, 1.1);
                    -ms-transform: scale(1.1, 1.1);
                    transform: scale(1.1, 1.1);
                    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
                    transition: -webkit-transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
                    transition: transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
                }
            }

            &:before{
                content: '';
                position: absolute;
                -webkit-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
                transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
                width: 100%;
                height: 103%;
                background-color: black;
                opacity: 0.65;
                z-index: 2;
            }

        }

    }

    &.is--fixed{
        .isf-layout_chapter__img{
            .isf-layout_chapter__mask{
                width: 100%;
                height: 100%;
                .isf-layout_chapter__background-img__wrapper{
                    .isf-layout_chapter__background-img{
                        -webkit-transform: scale(1, 1);
                        -ms-transform: scale(1, 1);
                        transform: scale(1, 1);
                    }
                }
            }
            &:before{
                opacity: 1;
            }
        }
    }

    &.is--darkened{
        .isf-layout_chapter__header{
            .isf-layout_chapter__img:before{
                opacity: 0.85;
            }
        }
    }

    &.is--bottom{
        .isf-layout_chapter__img{
            .isf-layout_chapter__mask{
                width: 100%;
                height: 100%;
            }
            &:before{
                opacity: 1;
            }
        }
    }
}
