.isf-layout_split-sticky{
    position: relative;
    &__content{
        &--inner{
            padding: 15px;
        }
    }
    &__sticky{
      background-color: pink;
        .isf-layout_split-sticky__sticky__item{
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-position: center center;
        }
    }
    @media(max-width: 1023px){
        &__sticky{
            height: 80vh;
            .isf-layout_split-sticky__sticky__item{
                height: 80vh;
            }
        }
    }
    @media(min-width: 992px){
        display: flex;
        justify-content: flex-end;
        width: 100%;
        &__content{
            width: 50%;
            float: right;
            @include isf-padding-sm;
        }
        &__sticky{
            width: 50%;
            min-height: 100vh;
            &:before{
                content: '';
                position: absolute;
                width: 1px;
                height: 80vh;
                top: 10vh;
                max-height: 0px;
                right: 0;
                background-color: white;
                transition: 0.2s all;
            }
            .isf-el_split-sticky__sticky__item{
                height: 100vh;
            }
        }
        &.is--sticky{
            .isf-el_split-sticky__sticky{
                background-color: pink;
                position: fixed;
                top: 0;
                &:before{
                    max-height: 80vh;
                }
            }
        }
        &.is--bottom{
            .isf-el_split-sticky__sticky{
                bottom: 0;
                top: auto;
            }
        }
    }
}
