
#isf-interactive-story {
  /* Gallery */

  button {
    outline: none!important;
  }

  .isf-el_gallery-two__viewer__header {
    height: 100vh;
    width: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .isf-viewer__header__mask {
      position: absolute;
      left: 50vw;
      top: 50vh;
      height: 80vh;
      width: 80vw;
      overflow: hidden;
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .isf-viewer__header__background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      opacity: 0.75;
      transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .isf-viewer__header__heading {
      color: white;
      z-index: 10;
      transition: opacity 0.2s;
    }
  }

  .isf-el_gallery-two {
    &__viewer {
      height: 100vh;
      width: 100%;
      background-color: black;
      transition: 0.2s opacity;

      &__item {
        position: absolute;
        /*opacity: 0;*/
        pointer-events: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        transition: opacity 0.2s;
        display: none;
        .viewer-group__inner {
          max-height: 100%;
          max-width: 100%;
          display: flex;
          padding: 15px;

          h2 {
            max-width: 600px;
            color: white;
            text-align: center;
            opacity: 0;
            transition: opacity 0.2s;
          }

          img {
            object-fit: contain;
            opacity: 0;
            transition: opacity 0.2s;
          }
        }

        @media (min-width: 1200px) {
          .viewer-group__inner {
            padding: 30px;
          }
        }

        &.h--right {
          justify-content: flex-end;
        }
        &.h--center {
          justify-content: center;
        }
        &.h--left {
          justify-content: flex-start;
        }

        &[data-item = "0"] {
          /*display: block;
          */
          h2 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
        }
      }
    }

    &__steps {
      .isf-el_gallery-two__step {
        position: relative;
        z-index: 10;
        .step__inner {
          max-height: 100%;
          max-width: 100%;
          display: flex;
          padding: 15px;
          min-height: 100vh;
          align-items: center;

          .isf-el_image__wrap {
            position: relative;
            .isf-el_image__caption {
              position: absolute;
              bottom: -30px;
              color: white;
              line-height: 1.2em;
              left: 50%;
              transform: translate3d(-50%, 100%, 0);
              font-size: 15px;
            }
          }
          &__img {
            object-fit: contain;
            padding: 15px;
            max-width: 1200px;

            display: flex;
            img {
              object-fit: contain;
              max-height: 85vh;
            }

            &.p-top--md {
              padding-top: 30vh;
            }
            &.p-bottom--md {
              padding-bottom: 30vh;
            }
          }

          @media (max-width: 767px) {
            min-height: 50vh;
            .step__inner__img {
              padding: 5px;
              padding-bottom: 60px;
            }
            .isf-el_image__wrap {
              padding: 0px;
              .isf-el_image__caption {
                left: 0;
                bottom: -15px;
                transform: translate3d(0, 100%, 0);
                line-height: 1em;
              }
            }
          }

          &.h--right {
            justify-content: flex-end;
          }
          &.h--center {
            justify-content: center;
          }
          &.h--left {
            justify-content: flex-start;
          }
          &.h--around {
            justify-content: space-around;
          }
        }
      }
    }

    &.is--fixed {
      .isf-el_gallery-two__viewer {
        background: black;
      }
      .isf-viewer__header__mask {
        height: 90vh;
        width: 90vw;
      }
      .isf-viewer__header__background {
        opacity: 0.35;
      }
      .isf-viewer__header__heading {
        opacity: 0;
      }
    }

    &[data-current_step = "0"] {
      .isf-el_gallery-two__viewer__item[data-item = "0"] {
        img {
          opacity: 0.45;
        }
        h2 {
          opacity: 1;
        }
      }
    }
    &[data-current_step = "1"] {
      .isf-el_gallery-two__viewer__item[data-item = "1"] {
        img {
          opacity: 0.45;
        }
        h2 {
          opacity: 1;
        }
      }
    }
    &[data-current_step = "2"] {
      .isf-el_gallery-two__viewer__item[data-item = "2"] {
        img {
          opacity: 0.45;
        }
        h2 {
          opacity: 1;
        }
      }
    }
    &[data-current_step = "3"] {
      .isf-el_gallery-two__viewer__item[data-item = "3"] {
        img {
          opacity: 0.45;
        }
        h2 {
          opacity: 1;
        }
      }
    }
    &[data-current_step = "4"] {
      .isf-el_gallery-two__viewer__item[data-item = "4"] {
        img {
          opacity: 0.45;
        }
        h2 {
          opacity: 1;
        }
      }
    }
  }
}

