<nav id = "isf-preview__nav">
    <h3>HSNBISF 2.0</h3>
    <ul>
        <li>
            <a href = "/index.html" class = "isf-preview__nav__link"><span>intro</span>
            </a>
        </li>
        <li>
            <a href = "#" class = "isf-preview__nav__link dropdown-toggle">
                <ion-icon name="add"></ion-icon><span>modules</span>
            </a>
            <div class = "isf-dropdown__list">
                <ul>
                    <li class = "isf-dropdown__list__sub">
                        <h6>Elements</h6>
                        <a href = "basic_elements.html" class = "isf-preview__nav__sublink">
                            <span>Basic elements</span>
                        </a>
                        <a href = "image_group.html" class = "isf-preview__nav__sublink">
                            <span>Image Groups</span>
                        </a>
                        <a href = "gallery.html" class = "isf-preview__nav__sublink">
                            <span>Gallery</span>
                        </a>
                    </li>
                    <li class = "isf-dropdown__list__sub">
                        <h6>Layouts</h6>
                        <a href = "#" class = "isf-preview__nav__sublink">
                            <span>Simple</span>
                        </a>
                        <a href = "#" class = "isf-preview__nav__sublink">
                            <span>Chapter</span>
                        </a>
                        <a href = "#" class = "isf-preview__nav__sublink">
                            <span>Split Sticky</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href = "https://github.com/outisfun/hsisfnu" class = "isf-preview__nav__link" target = "_blank">
                <ion-icon name="logo-github"></ion-icon>
                <span>github</span>
            </a>
        </li>
    </ul>
</nav>