<div class = "ellesse_three-piece">
	<div class = "ellesse_three-piece__quarter" style = "background-image: url('{{ imgsrc_1 }}'); ">
	</div>
	<div class = "ellesse_three-piece__half" style = "background-image: url('{{ imgsrc_2 }}'); ">
	</div>
	<div class = "ellesse_three-piece__quarter" style = "background-image: url('{{ imgsrc_3 }}'); ">
	</div>
</div>