
<div class = "isf-layout_interactive-scroller js--interactive-scroller">
    <!-- Steps: maybe generate in script? -->
    <div class = "isf-layout_interactive-scroller__viewer js--interactive-scroller__viewer">
        <div class = "isf-layout_interactive-scroller__background js--interactive-scroller__background" style = "background-image: url('{{{ headerImage }}}');">
        	<h3>{{{ headerTitle }}}</h3>
        </div>
        <!-- Viewer: Content -->
        <div class = "isf-layout_interactive-scroller__content isf-f-white">
            <!-- content -->
        </div>
    </div>
</div>