
<!-- horizontal layout to navigate content -->
<!-- how to structure content? -->
<div class = "isf-layout_horizontal js--horizontal">

    <div class = "isf-layout_horizontal__background js--horizontal__background style--something">
        <div class = "isf-layout_split-sticky__sticky__item stack-item stack-item--1" style = "background-image: url('{{ backgroundImage }}'); ">
        </div>
    </div>

    <div class = "isf-layout_horizontal__content">
        <div class = "isf-layout_split-sticky__content--inner">
           <!-- content -->
        </div>
    </div> <!-- Content end -->
</div>