<div class = "isf-layout_simple isf-padding-tb-lg" id = "{{ id }}">
    <div class = "isf-layout_simple__content js--simple__content js--content">
    	<div class = "isf-{{ container }}">
        	<!-- content -->
        </div>
    </div> 
</div>
