
/* /////// LAYOUT /////// */

$mq-breakpoints: (
  mobile-large: 375px,
  mobile-landscape: 480px,
  tablet: 640px,
  tablet-wide: 768px,
  header-large: 1000px,
  newsletter-popup: 1024px,
  desktop: 1024px,
  desktop-plus: 1124px,
  widescreen: 1260px,
  widescreen-plus: 1360px,
  widescreen-large: 1600px
);


/* Only if you want to consider larger phone screens? */
/* is 480px */
$bp-mobile--lg: #{map-get($mq-breakpoints, mobile-landscape)};

/* is 768px */
$bp-tablet: #{map-get($mq-breakpoints, tablet-wide)};

/* is 1024px */
$bp-tablet--lg: #{map-get($mq-breakpoints, desktop)};

/* is 1260 */
$bp-desktop: #{map-get($mq-breakpoints, widescreen)};

/* is 1600 */
$bp-desktop--lg: #{map-get($mq-breakpoints, widescreen-large)};

