@import 'variables';
@import 'breakpoints';
@import 'spacing';
@import 'grid';
@import 'typography';

body.isf {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0px;
}

img {
  width: 100%;
  max-width: 100%;
}

.isf-color-scheme--dark {
  background-color: black;
  color: white;
}

/* format the img element after replacing with media library */

.isf-interactive-story figure.img-element {
margin: 0px auto!important;
}
.isf-interactive-story .aspect-ratio-placeholder {
max-width: none!important;
}

.isf-interactive-story .aspect-ratio-placeholder__fill {
display: none;
}

.isf-interactive-story .aspect-ratio-placeholder img.image {
padding: 5px;
width: 100%;
height: auto;
position: relative!important;
}

.isf-interactive-story .aspect-ratio-placeholder img{
position: relative!important;
}

.isf-interactive-story .aspect-ratio-placeholder .image {
padding: 5px;
width: 100%!important;
height: auto!important;
position: relative!important;
}

.isf-interactive-story img {
position: relative!important;
}

.isf-interactive-story .img-element__credit {
  padding-left: 5px;
}






