<div class = "isf-el isf-el_quote js--quote" id = "modId">
    <div class = "isf-el_quote__content">
        <h3 class = "isf-el_quote__content__quote">“{{ quote }}”</h3>
        <small class = "isf-el_quote__content__source">
            {{ source }}
        </small>
    </div>
</div>